body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(240, 184, 81, 0.752),
    rgba(255, 93, 255, 0.659)
  );
  background-size: cover;
}

.login-container {
  width: 100%; 
  max-width: 400px; 
  padding: 20px;
  background-color: #ecebeb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-title {
  text-align: center;
  color: #ffa200; 
}

@media (max-width: 768px) {
  .login-container {
    width: 90%;
  }
}
